body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  color: #000000;
}

/* Estilo para o saldo inicial */
.saldo-inicial {
  margin-bottom: 20px;
  text-align: center;
}

.saldo-inicial label {
  font-weight: bold;
  margin-right: 10px;
}

.saldo-inicial input {
  padding: 5px;
  font-size: 16px;
}

/* Estilo para o componente de saldo */
.saldo {
  text-align: center;
  margin-bottom: 20px;
}

.saldo h2 {
  color: #000000;
}

/* Estilo para o formulário de despesas */
.form-grupo {
  margin-bottom: 15px;
}

.form-grupo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-grupo input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #000000;
}

/* Estilo para a lista de despesas */
.despesas {
  margin-top: 20px;
}

.despesas h2 {
  text-align: center;
  color: #ff3c00;
}

.despesas ul {
  list-style-type: none;
  padding: 0;
}

.despesas li {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* Estilo para a calculadora de orçamento */
.calculadora-orcamento {
  text-align: center;
  margin-top: 20px;
}

.calculadora-orcamento h2 {
  color: #000000;
}

.calculadora-orcamento p {
  font-size: 18px;
}